---
import astroLogo from '../assets/astro.svg'
import background from '../assets/background.svg'
---

<div>
  <img src={background.src} alt="" fetchpriority="high" class="absolute w-100vw h-100vh" />
  <main>
    <section>
      <img src={astroLogo.src} alt="Astro Logo" fetchpriority="high" />
      <div class="text-xl text-red-400">test</div>
    </section>
  </main>
</div>
